EMAIL='your school email address'
PASSWORD='login credential'
NEON_DBNAME='Your database name, replace this as needed if you're using a different software'
NEON_USER='Your database credentials, replace this as needed if you're using a different software'
NEON_PASSWORD='Your database credentials, replace this as needed if you're using a different software'
NEON_HOST='Your database credentials, replace this as needed if you're using a different software'
DISCORD_TOKEN='Your database credentials, replace this as needed if you're using a different software'
GUILD_ID=The Server ID
DISCORD_OWNER_UID=Your Discord user ID (right-click your name → Copy User ID with Developer Mode on)